header{
	width: 100%;
	height: 80px;
    background:#2B4D86;
    color: #fff;
	position: fixed;
	top: 0;
	left: 0;
    z-index: 100;
}

header .container{
    display: table;
}
.img-responsive{
    float: left; 
    padding: 5px;
    margin-left: 20px;
}
#toggle{
    display: none;
}
header label{
    float: right;
    margin-right: 50px;
    margin-top: 30px;
    cursor: pointer;
}

.navbar{
    position: absolute;
	width: 100%;
	height: auto;
	background:#2B4D86;
	left: 0;
    top:80px;
   transform: translateX(-100%);
}
.main-nav li{
	list-style: none;		
}
.main-nav li a{    
	line-height: 25px;
	display: block;	
	color: #fff;
	text-decoration: none;
    padding: 15px;
    font-weight: bold;    
	border-top: 1px solid rgb(255,255,255,0.5)
}
.main-nav li a:hover{
    background:rgb(255,255,255,0.3);
    color: #E3A90B;
}

#toggle:checked ~ .navbar{
	transform: translateX(0%);
}

@media (min-width: 768px) {
    .img-responsive{
       margin-left: 80px;
    }
	.container-header label{
		display: none
	}
	.navbar {
		position: static;
        width: auto;
        display: flex;
        height: auto;
		transform: translateX(0%);
        float: right;
        
    }
    nav ul li {
        display: inline-block;      
    }
	.main-nav li a {
        border-top: none;
        padding: 15px 35px;
		line-height:50px;
    }
}
	