@import url('https://fonts.googleapis.com/css?family=Margarine');
@import url(main.css);
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  font-family: 'Margarine', cursive;
}
.container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 1rem;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
} 
section{
  margin-top:100px;
}
/* ocultar paginas */
#page-pokedex , #page-evolution , #page-news , #evolution-result {
  display: none;
}
[class*= "col"] {
  float: left;    
}
/******* Mobile First ******/
.col-xs-12 { 
  width: 100%;
}
aside, .evolution{
  height: auto;
}

/******** Tablet ******/
@media (min-width: 768px) {
  aside, .evolution{
    height: 500px;
  }
  .col-sm-4{
    width: 30%;
  }
  .col-sm-8{
    width: 66%;       
  }
}
/* ------------------ ESTILOS GENERALES -------------- */
h1{
  color: crimson;
}
/* ------------------ ESTILOS GENERALES - PAGE EVOLUTION ------------- */
.style-content{
  padding: 2rem;
  margin :1%;
  border : 1px solid #2B4D86;  
}
/****** Instruciones *****/
.instructions .list-instructions {
  text-align: justify;
  margin-top:1rem;   
}
/****** Formulario *****/
form{
  margin-top:1rem;
  border-radius: 4px;	
  border: 1px solid  #E3A90B;
  background-color: #f2f2f2;
  padding: 1rem;    
}
.form-group{
  padding: 1rem;
}
input{
width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
  margin-top: 1rem;
}
button{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  font-family: 'Concert One', cursive; 
}
/* ------------------ ESTILOS GENERALES - PAGE POKEDEX ------------- */
.list-pokemon{
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;    
}
.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;

  border-radius: 25px;
  background: rgba(183,222,237,1);
  font-family: 'Margarine', cursive;
  border:1px solid #2B4D86;
  color:#2B4D86;
}
.card-item img{
  width: 150px;
  height: 150px;
}
.card-item h1{
  color: #E3A90B;
}
.grow:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
