@import url('https://fonts.googleapis.com/css?family=Margarine');
@import url(main.css);
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  font-family: 'Margarine', cursive;
}
.container {
  width: 100%;
  text-align: center;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
} 
section{
  margin-top:80px;  
}
footer {
  background:#2B4D86;
  color: #fff;
  height: 60px; 
  margin-bottom: 0px;
} 

/* ocultar paginas */
#page-pokedex , #page-evolution , #page-news , #evolution-result {
  display: none;
}
[class*= "col"] {
  float: left;    
}
/******* Mobile First ******/
.col-xs-12 { 
  width: 100%;
  
}
.col-xs-3{
  width: 100%;    
}

aside, .evolution{
  height: auto;
}


/******** Tablet ******/
@media (min-width: 768px) {
  aside, .evolution{
    height: 500px;
  }
  .col-sm-4{
    width: 30%;
  }
  .col-sm-8{
    width: 66%;       
  }
  .col-xs-3{
    width: 30%;    
  } 
 
}
/* ------------------ ESTILOS GENERALES -------------- */
h1,h2{
  color: crimson;
}
.m1-p1{
  padding: 1rem;
  margin : 1% ;
}
.color-border{  
  border : 1px solid #2B4D86;  
}
.blue-color , label{
  color : #2B4D86;
  font-weight: bold;
}
/*+/*/

/* ------------------ ESTILOS GENERALES - PAGE INICIO ------------- */
#Slider{
  position: relative;
  width: 100%;
  height: 82vh;
  margin:0 ;
  overflow: hidden;
}
.conteinerSlider{
  width: 300%; 
  display: flex;
  margin-left: -100%;    
}
.conteinerImg{
  width: 33.4%;
 height: 82vh;   
}
.conteinerSlider img{
  width: 100%;
  height: 90vh;   
}
section>img{
  width: 80px;
  height: 80px;
  position: absolute;
  top: 200px;
  cursor:pointer;
}
.btnLeft{
 left: 15px;
}
.btnRight{
 right: 15px;
}

/* ------------------ ESTILOS GENERALES - PAGE POKEDEX ------------- */
/*** Botones de selccionar*/
.btn-select{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;

}
 select{
  width: 130px;
  height: 30px;
  background:rgb(65, 105, 173);
  color: #fff;
  font-size: 16px;
}
 .btn-s{
  margin:0 1rem;
  text-align: center;
 }
 /* --pokemones***/
 .flex-center{
   display: flex;
   justify-content: center;
  align-items: center;
 }
.list-pokemon{
  margin: 2rem;  
  flex-wrap: wrap;   
}
.card-item {
  flex-direction: column;
  width: 250px;
  height: 350px;
  margin: 1rem;
  border-radius: 25px;
  background: rgba(183,222,237,1);
  font-family: 'Margarine', cursive;
  border:1px solid #2B4D86;
  color:#2B4D86;
}
.card-item img{
  width: 150px;
  height: 150px;
}
.card-item h2{
  color: #E3A90B;
}
.grow:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/** detalle pokemon*/
.page-evolution{
  height: 82vh;
}
.pokedex-unit{
  height: 82vh;  
}
.flex-unit{
  margin: 3rem 5rem;
  padding:3rem; 
  border: 1px solid #2B4D86;
  background:rgba(183,222,237,1);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}


/* ------------------ ESTILOS GENERALES - PAGE EVOLUTION ------------- */
/****** Instruciones *****/
.list-instructions {
  text-align: justify;
  margin: 2rem;   
}
/****** Formulario *****/
form{
  margin-top:1rem;
  border-radius: 4px;	
  border: 1px solid  #E3A90B;
  background-color: #f2f2f2;
  padding: 1rem;    
}
.form-group{
  padding: 1rem;
}

input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
  margin-top: 1rem;
}
button{
  background-color: #2B4D86;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  font-family: 'Concert One', cursive; 
}

@media (min-width:320px){
  .conteinerSlider{
    background-color: #2B4D86;
  }
  .conteinerSlider img{
    width: 100%;
    height: 50vh;   
  }
  section>img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 150px;
    cursor:pointer;
  }
  
}
@media (min-width:780px){
  .conteinerSlider img{
    width: 100%;
    height: 80vh;   
  }

  section>img{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 250px;
    cursor:pointer;
  }
}